{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/one.css' %}">
</head>
<body>
    <center>
        <div>
    <h1><marquee behavior="" direction="">MAHENDRA SINGH DHONI</marquee></h1>
            </div>

<button>
       <a href="https://www.bing.com/search?q=ms+dhoni&filters=dtbk:%22MCFvdmVydmlldyFvdmVydmlldyEwY2U5MmU3Zi00MTU4LTRjZWMtOTA0MC01N2E3NmU1YjYxZGQ%3d%22+sid:%220ce92e7f-4158-4cec-9040-57a76e5b61dd%22+tphint:%22f%22&FORM=DEPNAV">ABOUT</a>
    </button>
    <button>
    <a href="https://www.bing.com/search?q=ms+dhoni+ipl+career&cvid=8490833b5b1f44498db0ab274aecfd9e&aqs=edge.5.69i57j0l8.7642j0j1&pglt=41&FORM=ANNTA1&PC=W129">IPL CAREER</a>
    </button>
    <button>
    <a href="https://www.bing.com/search?q=MS+DHONI+INTERNATIONAL+CAREER&cvid=370c41d30a4648919b98b10f42650ddc&aqs=edge..69i57.16353j0j9&FORM=ANAB01&PC=W129">INTERNATIONAL CAREER</a>
    </button>
    <button>
    <a href="https://www.bing.com/search?q=MS+DHON+PERSONAL+LIFE&cvid=47930f4df2a348219834a666aea8ed56&aqs=edge..69i57j0j69i64.9372j0j9&FORM=ANAB01&PC=W129"> PERSONAL LIFE</a>
    </button>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'images/2.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="https://www.bing.com/search?q=achievement+of+ms+dhoni&qs=UT&pq=achievement+of+ms+d&sc=9-19&cvid=CA8C477657B24978B3D67C061E4B9630&FORM=QBRE&sp=1">ACHEIVEMENTS</a>
        </div>
      </div>
    </center>
</body>
</html>